@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap')


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #decab6;
}

.container {
    width: 840px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 30px;
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 45px;
}

img {
    width: 680px;
    border-radius: 15px;
}

.container-top h1{
    font-family: "Young Serif", serif;
    font-weight: 800;
    font-size: 48px;
    padding-left: 75px;  
    
}
.container-top p {
    color: #57524E;
    padding-left: 75px;
}

.list-top {
    width: 680px;
    margin-left: 70px;
    background-color: #f3e6d7f8;
    padding: 4px;
    border-radius: 15px;
    color: #57524E;
}

.list-top h4 {
    color: #c71069;
    font-size: 25px;
    padding-left: 25px;
}

.list-top ul {
    margin-left: 10px;
}
.list-top strong {
    margin-left: 15px;
}

.title-ingredientes {
    margin-left: 70px;
    color: #c71069;
    font-size: 25px;
}

.list-center {
    color: #57524E;
    padding-left: 50px;
}

.list-center li {
    margin: 14px;
}

hr {
    width: 90%;
    opacity: .5;
    margin-top: 15px;
    margin-bottom: 15px;
}

.list-ordenada {
    color: #57524E;
    padding-left: 45px;
    padding-bottom: 15px;
}

.list-ordenada li {
    margin: 14px;
}

.title-nutrientes {
    margin-left: 70px;
    color: #c71069;
    font-size: 25px;
    
}

.title-footer {
    margin-bottom: 15px;
}
.title-footer p {
    color: #57524E;
    padding-left: 70px;
    padding-bottom: 15px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}

.box strong {
    color: #c71069;
}